@import url(Fonts/iAWriterQuattro/iAWriterQuattro.css);

/*
Colors:
#121212
#B59D8B
#C7C0BC
#9099A0
#FFFFFF
*/

body {
  background-color: #121212;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  color: #FFFFFF;
  font-family: "iAWriterQuattro";
  text-align: center;
  font-size: 3.7em;
  margin-bottom: 7px;
}
h2 {
  color: #C7C0BC;
  font-family: "iAWriterQuattro";
  text-align: center;
  font-size: 1em;
  margin: 0px;
  letter-spacing: 2px;
}

.reactive {
  display: inline;
  position: relative;
  top: 0px;

  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}
.reactive:hover {
  top: -15px;
}

.hovering {
  display: inline;
  position: relative;

  animation-name: hoveranim;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
}
@keyframes hoveranim {
  0% {top: 0px;}
  50% {top: 4px;}
  100% {top: 0px;}
}

ul {
  color: #FFFFFF;
  font-size: 2.3em;
  text-align: center;
  list-style-type: none;
}
